.join_btn{
	margin-left: 80px;	
}

.searchbar_color
{
	background-color: #194171 !important;
	width: 50% !important;
	height: 100px !important;
	margin-top: 10px !important;
	
	
}

.givereferencebtn
{
	width: 150px !important;
float: right !important;
}

.searchbar_colordrop
{background-color: #194171 !important;
width: 50% !important;
height: 100px !important;
margin-top: 131px !important;	
}

.latest_news_home
{
	height: 150px !important;
}

.homecourseslider
{
	height: 200px !important;
width: 300px !important;
}

.homeexpertslider
{
	height: 262px !important;
	width: 272px !important;
}

.home_slider
{
	width:100%;
	height:400px;
}



.latest_news_home
{
    height: 150px !important;
}
.peoplesay
{
    height: 112px;
width: 112px;
}


.homenews
{
	height: 101px !important;
	width: 150px !important;
}

.peoplesay
{
	height: 112px;
width: 112px;
}



.home_slider
{
	width: 1349px !important;
    visibility: hidden !important;
    height: 528px !important;
}

.company_img_slidebar
{
	
    width: 262px !important;
    height: 150px !important;
}

.searchbar_dropdown1
{
	margin-top: -232px  !important;
	    margin-right: 110px !important;
}

.search_dropdown22
{
	width:480px !important;
	margin-top: 4px  !important;
	margin-left:10px !important;
}

.searchbyuser
{
	margin-top: 2px!important;
}

.expertviewprofile
{
	width: 360px;
	height: 400px;
margin-top: 10px;
}

.videotitle
{
	margin-top: -55px !important;
}

.homepage
{
	height: 101px !important;
width: 150px !important;
}

.video_titlecmt
{
	    margin-top: -35px;
}

.notes_margin
{
	margin-top: -231px;
}

.dropdown
{
	height: 42px;

width: 310px;
margin-left: 188px;
margin-top: -33px;
}

.searchbar_dropdown2
{
	margin-left: 630px !important;
}

.searchbar_inputtext
{
width: 300px;
margin-left: 0px;
margin-top: -10px;
}

.blogsearchbarbutton
{
	margin-top: -10px !important;
}

.distance_experthome 
{
	height: 550px !important;
}

.event_p
{
	margin-top: -5px;
	font-size: 15px;
	color: #816e6e;
}
.event_li
{
	line-height: 1.5!important;
}

.event_ul
{
	margin-bottom: -124px;
}

.search_margin{

	margin-top: -230px;

}

.notes_btn
{
	margin-left: 74px; !important;
}

.joingrp_btn
{
	width: 210px;
}

.sub_img{
	height:350px;
}

.blog_margin
{
	margin-top:-95px;
}

.news_margin
{
	margin-top:-40px;
}

.news_img
{
	width: 530px;
	height: 273px;
}

.event_img
{
	height: 253px;
	width: 500px;
}

.rate1
{
	color: #fdc800;
}

.video_display{
background-color: lightslategray;height: 375px;
}

.exp_img{
	
	border-radius: 32px;
	height: 64px;
width: 67px;
}

.exp_name{

	margin-top: 13px;
}

.profile_img{


 margin: -10px;
    margin-right: ;
    width: 102px;
    margin-top: -18px;
}

.header1
{
height: 75px;
}

.searchbar{
margin-top: -3px;
font-size: 15px;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 15%;
  border-radius: 4px 25px 25px 4px;
}

.insertdata{
	margin-top: 40px;
}

.blog_img{
	height: 402px; 
	width: 847px;
}

.exp_img
{
	border-radius: 32px;
}

.exp_name
{
	margin-top: 13px;
}